.custom-card {
    height: 150px;

    min-height: 150px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
    /* Adding a soft shadow */
    border: none;
    /* Remove border if needed */
    transition: box-shadow 0.3s ease-in-out;
    /* Smooth transition on hover */


}

.custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increase shadow on hover */
}

.custom-image {
    width: 350px;

    height: 149px;

    object-fit: cover;


}

@media (max-width: 768px) {
    .custom-card {
        height: auto;
        /* Make the card auto height on smaller screens */
    }

    .custom-image {
        height: 200px;
        width: 480px;
        /* Set a fixed height for the image on small screens */
    }
}